
.smallAddButton {
    border: none;
    background-color: orange;
    width: 100%;
    text-align: center;
}

.smallAddButton:hover {
    background-color: rgb(153, 76, 0);
}

body {
    width: 100%;
    max-width: 900px;
    margin: auto;
}


.addbutton, .editButton, .deleteButton, .saveButton, .backButton {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: inline;
    vertical-align: top; 
}

#article_textarea {
    width: 650px;
    height: 450px;
}

.backButton {
    background-color: orange;
}

.saveButton {
    background-color: green;
}

.saveButton:active {
    background-color: rgb(51, 255, 153);
}

.addbutton {
    background-color: rgb(255, 0, 127);
}

.editButton {
    background-color: rgb(255, 128, 0);
}

.deleteButton {
    background-color: rgb(255, 0, 0);    
}

.headerTextarea {
    height: 47px;
    width: 635px;
    margin-top: 0;
    resize: none;
    display: inline; 
}
