body {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

#site_wrapper .big_header_elem {
    background-color: grey;
    color: white;
    display: block;
}

#site_wrapper .small_header_elem {
    display: block;
}

#site_wrapper .chapter { 
    margin-right: 10%;
}
